*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  .recipe-image {
    max-width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .recipe-name {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  .recipe-description {
    margin: 10px 0;
    font-size: 1.1rem;
  }
  
  .recipe-ingredients {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .recipe-time {
    margin: 10px 0;
    font-style: italic;
  }
  
  .save-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }
  