*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.recipieForm{
    max-width: clamp(20% , 38rem , 50rem);
    background-color: aliceblue;
    margin: 2rem auto;


}
.form{
    display: flex;
    align-items: center;
flex-direction: column;
    gap: 1rem;
    border: 1px solid firebrick;
    flex-wrap: wrap;
    width: 100%;

    
}
.form >.Incredients{
    flex-direction: column;
}
.form > *{  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    flex-basis: 0;
    text-align: center;
    gap: 0.7rem;
    min-width: 70%;
    padding: 0.2em 0.5em;
 

}
.form >*>*{
    padding: 0.2em 0.3em;
   flex: 1;
}